footer {
    overflow: hidden;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 
.footer-brand {
    width: 150px;
    font-family: "SolMedium";
    font-size: 30px;
}

.theme-toggle {
    margin: 20px 0;
}

.footer-nav {
    width: 16.66%;
}

.footer-nav-title {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
    background: linear-gradient(to right,#7f00ff 0%,#e100ff 100%);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
}

.footer-nav-content {
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    color: #aaaa;
}

.footer-nav-content a { 
    display: block;  
    transition: color .3s ease; 
}

.footer-nav-content a:hover { color: #e100ff }
.footer-nav:nth-child(4) a:hover { color: #7f00ff }

.footer-newsletter {
    width: 25%;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
    border-top: 1px solid #777;
}
