.hero {
    position: relative;
    overflow-x: hidden;
    display: block;
    width: 100%;
    height: 100vh;
}

.hero-wrapper { height: 100%; }

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    min-width: 560px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: .5;
    background-image: url(../assets/img/hero-blobs.svg)
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 90px;
    max-width: 1000px;
    box-sizing: border-box;
}

.hero-text {
    font-size: 50px;
    line-height: 1.4;
    font-family:"MyriadPro";
    text-align: center;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero-buttons .button { 
    padding: 8px 30px; 
    min-width: 180px;
    border-radius: 30px;
}
.hero-buttons .button:nth-child(1) { margin-right: 30px }
.hero-buttons .button:nth-child(2) { margin-left: 30px }

.hero-scroll {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

.scroller {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    animation: scroll 1.6s ease infinite;
}

.hero-scroll:hover { color: #D9B3FF }

@keyframes scroll {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(4px);
    }
}