.services { padding: 150px 0 20px!important }

.services-top {
    padding: 25px 0 75px;
    text-align: center;
}

.services-title {
    display: inline-block;
    color: #7f00ff;
    font-size: 90px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    align-items: center;
}

.services-box {
    width: 50%;
    padding: 0 30px;
    margin: 75px 0 120px;
    box-sizing: border-box;
    text-align: center;
}

.services-image {
    position: relative;
    height: 105px;
}

.blob-image {
    position: absolute;
    max-width: 100%;
    z-index: 0;
    transform: translateX(-50%)
}

.applications .blob-image {
    left: 62%;
    top: -80px;
}

.security .blob-image {
    left: 39%;
    top: -105px;
}

.assistance .blob-image {
    left: 50%;
    top: -105px;
}

.partnership .blob-image {
    left: 45%;
    top: -70px;
}

.service-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.services-content > a > .title {
    font-size: 26px;
    margin: 15px 0;
}