@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import "header.css";
@import "hero.css";
@import "solutions.css";
@import "services.css";
@import "about.css";
@import "products.css";
@import "footer.css";


@font-face {
    font-family: SolMedium;
    src: url(../assets/fonts/SolMedium.woff);
}

@font-face {
    font-family: MyriadPro;
    src: url(../assets/fonts/MyriadPro.woff);
}


:root {
    --main-bg-color: #1a1423;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', 'sans-serif';
    color: #fff;
    margin: 0;
    padding: 0;
}

main { position: relative }

h1, h2, h3, h4 { margin: 0 }

p {
    margin: 0;
    line-height: 26px;
    font-weight: 300;
}

a {
    text-decoration: none; 
    color: inherit 
}

.button {
    text-align: center;
    border-radius: 50px;
    padding: 15px 45px;
    font-weight: 500;
    transition: background-color .3s;
    border: 2px solid transparent;
    display: inline-block;
}

.button.filled { background-color: #7f00ff }
.button.outlined { border-color: #7f00ff }

.button.filled:hover {
    background-color: transparent;
    border-color: #7f00ff
}
.button.outlined:hover { background-color: #7f00ff }

.fade-up, .fade-right,
.fade-down, .fade-left,
.fade-in {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 1s ease;
}

.fade-in { transform: translateY(0) }
.fade-down { transform: translateY(-40px) }
.fade-right { transform: translateX(40px) }
.fade-left { transform: translateX(-40px) }

.active-anim {
    transform: translate(0, 0);
    opacity: 1;
}

.gradient-stroke {
    background: linear-gradient(to right,#7f00ff 0%,#e100ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    -webkit-text-fill-color: var(--main-bg-color);
}

.header-wrapper, .hero-wrapper,
.solutions-grid-wrapper,
.services, .services-grid,
.about-wrapper, .products-top,
.footer-wrapper {
    max-width: 1220px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

/*Media Responsive*/
@media screen and (max-width: 1000px) {
    .solutions .grid-wrapper { padding: 0 20px 60px }
    .solutions .grid-row > * {
        width: 100%;
        margin: 0 0 50px;
    }
    .solution-bg { z-index: 2; }
    .solution-bg:after,
    .solution-3 .solution-bg:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at top 20px right 20px,#1a1423 0%,transparent 100%);
    }
    .solution-3 .solution-bg:after {
        background-image: radial-gradient(circle at bottom 20px right 20px,#1a1423 0%,transparent 100%);
    }
    .solution-content {
        transform: unset;
        left: unset;
        right: 20px;
        top: 20px;
    }
    .solution-3 .solution-content { right: 20px }
    .services { padding: 0 0 20px }
    .services-title { font-size: 80px }
}

@media screen and (max-width: 940px) {
    .hamburger-container { display: flex }
}

@media screen and (max-width: 900px) {
    .hero-wrapper::before { width: 90% }
    .about-wrapper { flex-direction: column }
    .about-image {
        width: 80%;
        align-self: flex-end;
        margin: 0 0 -40px;
    }
    .about-content {
        align-self: flex-start;
        margin: -100px 0 0;
        width: 50%;
    }
}

@media screen and (max-width: 815px) {
    .hero-text { font-size: 45px }
}

@media screen and (max-width: 753px) {
    .hero-text { font-size: 40px }
}

@media screen and (max-width: 750px) {
    .services-grid {
        flex-direction: column;
        max-width: 450px;
    }
    .services-box {
        width: 100%;
        margin: 75px 0;
    }
    .about-image {
        width: 100%;
        max-width: 450px;
        align-self: flex-start;
        margin: 0;
    }
    .about-content {
        width: 100%;
        margin-top: -20px;
    }
    .about-content .year { font-size: 120px }
}

@media screen and (max-width: 650px) {
    .hero-text { font-size: 30px }
    .hero-buttons { flex-direction: column }
    .hero-buttons .button:nth-child(1) { 
        margin: 0; 
        margin-bottom: 10px 
    }
    .hero-buttons .button:nth-child(2) {
        margin: 0;
        margin-top: 10px;
    }
    .hero-content { padding: 0 40px}
}

@media screen and (max-width: 620px) {
    .services-title { font-size: 70px }
}

@media screen and (max-width: 550px) {
    .services-title {font-size: 60px }
}

@media screen and (max-width: 460px) {
    .hero-text { font-size: 26px }
    .hero-scroll { bottom: 110px }
    .brand { height: 83px; }
    .logo {min-width: 85px; }
}

@media screen and (max-width: 450px) {
    .solutions { padding: 15px 0 }

    .solution-content {
        right: 0;
        top: 0;
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .solution-3 .solution-content { 
        right: 0; 
        bottom: 0;
    }
    .solution-title { font-size: 26px }
}