@import 'aos/dist/aos.css';

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

@font-face {
  font-family: 'Sol-Medium';
  src: url('../fonts/SolMedium.woff');
}

[data-aos=fade-up] {
  -webkit-transform: translate3d(0,30px,0);
  transform: translate3d(0,30px,0);
  opacity: 0
}