@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-max-width: 1220px;
  --section-padding: 0 20px;
  --section-gap: 100px;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply relative
  }

  img { @apply pointer-events-none }
  svg { @apply inline-block }
  p { @apply font-thin leading-[1.6] }
}

@layer components {
  .p-page {
    padding: var(--section-padding);
  }

  .section {
    @apply mx-auto p-page;
    max-width: var(--section-max-width);
    margin-top: var(--section-gap);
  }

  .veiled {
    @apply opacity-0 invisible;
    transition: opacity 0.25s, visibility 0.25s;
    transition-duration: 400ms;
  }

  .abs-center-y {
    @apply top-1/2 -translate-y-1/2 absolute;
  }

  .unveiled {
    @apply opacity-100 visible;
  }

  .pseudo {
    @apply content-[""] absolute;
  }

  .purple-to-pink {
    @apply bg-gradient-to-r from-purple-1 to-pink-1;
  }
  
  .pink-to-blue {
    @apply bg-gradient-to-r from-pink-3 to-blue-3;
  }

  .blue-to-pink {
    @apply bg-gradient-to-r from-blue-3 to-pink-3;
  }

  .green-to-blue {
    @apply bg-gradient-to-r from-green-2 to-blue-1;
  }

  .pink-to-orange {
    @apply bg-gradient-to-r from-pink-2 to-orange-2
  }

  .underline {
    @apply absolute rounded-2xl h-[3px] bottom-[-3px] left-0 w-full
  }

  .text-bg {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-bg-outlined {
    @apply pl-1;
    -webkit-text-stroke: 5px transparent;
    -webkit-text-fill-color: theme('colors.purple.DEFAULT')!important;
  }
}