<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11e73bab8d.js" crossorigin="anonymous"></script>
    <title>CyberWall</title>
</head>
<body>
    <header class="header" id="header">
        <div class="header-wrapper">
            <a href="index.html" class="brand"> <div class="logo"></div>CyberWall </a>
            <nav class="navbar">
                <div id="nav-main" class="navbar-main active-nav">
                    <a id="menu-1" class="menu-item" href="index.html"> Home </a>
                    <a id="menu-2" class="menu-item" href=""> Chi siamo </a>
                    <div id="menu-3" class="menu-w-childs">
                        <a href="" class="menu-item"> Servizi </a>
                        <div class="sub-menu">
                            <div><a href="" class="menu-item"> Applicazioni </a></div>
                            <div><a href="" class="menu-item"> Sicurezza </a></div>
                            <div><a href="" class="menu-item"> Assistenza </a></div>
                            <div><a href="" class="menu-item"> Lavora con noi </a></div>
                        </div>
                    </div>
                    <a id="menu-4" class="menu-item" href=""> Soluzioni </a>
                    <a id="menu-5" class="menu-item" href=""> Prodotti </a>
                    <div id="menu-6" class="menu-w-childs"> 
                        <a href="" class="menu-item"> Contatti </a>
                        <div class="sub-menu">
                            <div><a href="" class="menu-item"> Posizione </a></div>
                            <div><a href="" class="menu-item"> Supporto </a></div>
                        </div>
                    </div>
                </div>
                <div id="hamburger" class="hamburger-container">
                    <div class="hamburger">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <div id="nav-minor" class="navbar-minor">
                    <div><a href="" class="menu-item"> Home </a></div>
                    <div><a href="" class="menu-item"> About </a></div>
                    <div><a href="" class="menu-item"> Servizi </a></div>
                    <div><a href="" class="menu-item"> Soluzioni </a></div>
                    <div><a href="" class="menu-item"> Prodotti </a></div>
                    <div><a href="" class="menu-item"> Contatti </a></div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero-wrapper">
                <div class="hero-content">
                    <h1 class="hero-text fade-up"> CyberWall | Difendiamo e proteggiamo i vostri interessi. </h1>
                    <div class="hero-buttons">
                        <a href="" class="button filled"> Scopri di più </a>
                        <a href="" class="button outlined"> I nostri sistemi </a>
                    </div>
                </div>
                <div id="scroll" class="hero-scroll">
                    Let's Go!
                    <div class="scroller"><i class="fa-solid fa-angles-down fa-2x"></i></div>
                </div>
            </div>
        </section>
        
        <section class="solutions">
            <div class="solutions-grid">
                <div class="solutions-grid-wrapper">
                    <div class="grid-row">
                        <div class="solution-1 fade-in" data-aos-duration="0.6s">
                            <div class="solution-bg"></div>
                            <div class="solution-blob"></div>
                            <div class="solution-content">
                                <h4 class="solution-header"> Prima Soluzione </h4>
                                <h3 class="solution-title"> Lorem ipsum dolor sit amet </h3>
                            </div>
                        </div>
                        <div class="solution-2 fade-in" data-aos-duration="0.6s">
                            <div class="solution-bg"></div>
                            <div class="solution-blob"></div>
                            <div class="solution-content">
                                <h4 class="solution-header"> Seconda Soluzione </h4>
                                <h3 class="solution-title"> Lorem ipsum dolor sit amet </h3>
                            </div>
                        </div>
                        <div class="solution-3 fade-in" data-aos-duration="0.6s">
                            <div class="solution-bg"></div>
                            <div class="solution-blob"></div>
                            <div class="solution-content">
                                <h4 class="solution-header"> Terza soluzione </h4>
                                <h3 class="solution-title">  Harum quisquam eius sed odit </h3>
                            </div>
                        </div>
                    </div>
                    <a href="" class="solutions-view-link">
                        <span> Scopri </span>
                    </a>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="services-top">
                <h2 class="services-title fade-up">
                    I nostri
                    <span class="gradient-stroke" style="letter-spacing: .06em"> Servizi </span>
                </h2>
            </div>
            <div class="services-grid">
                <div class="services-box fade-in" data-aos-delay="0.2s">
                    <div class="services-image applications">
                        <a href="" class="blob-image">
                            <svg width="184px" height="181px" viewBox="0 0 184 181" version="1.1">
                                <defs>
                                    <linearGradient x1="102.372411%" y1="50%" x2="-2.22044605e-14%" y2="50%" id="linearGradient-1">
                                        <stop stop-color="#11998E" offset="0%"></stop>
                                        <stop stop-color="#38EF7D" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Home---video-blob" transform="translate(-935.000000, -2239.000000)" fill="url(#linearGradient-1)" fill-rule="nonzero">
                                        <g id="Services" transform="translate(-609.000000, 1965.000000)">
                                            <g id="Websites" transform="translate(1356.500000, 274.000000)">
                                                <path d="M359.329943,4.82115677 C373.469985,16.4401008 369.706475,48.4997796 365.028971,84.9703538 C360.405231,121.440928 354.867496,162.322398 332.447734,176.200581 C310.081736,190.132555 270.833711,177.007452 241.048224,157.534962 C211.316501,138.062473 191.10108,112.188806 189.165561,86.9068445 C187.176277,61.624883 203.413131,36.934627 221.746798,24.2936463 C240.080464,11.7064569 260.564707,11.1685428 286.801743,6.54248181 C313.092543,1.86262936 345.189901,-6.85157864 359.329943,4.82115677 Z" id="Path" transform="translate(279.127500, 90.500000) rotate(-270.000000) translate(-279.127500, -90.500000) "></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a href="" class="service-logo">
                            <svg width="90" height="97">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <path d="M63 53v4.5h3V53zM55.5 51.5V56h3v-4.5zM48 48.5v6h3v-6zM42 96.5v-6h28.5v6h3v-6c0-1.658-1.342-3-3-3H42c-1.658 0-3 1.342-3 3v6h3z"></path>
                                    <path d="M67.5 51.5c1.656 0 3 1.344 3 3V65c0 4.405-.508 8.172-1.46 12.219-.239 1.014-.986 3.914-1.028 4.088-.35 1.432-.512 2.359-.512 3.193V89h3v-4.5c0-.525.13-1.27.426-2.48.035-.144.787-3.063 1.034-4.114C72.962 73.65 73.5 69.658 73.5 65V54.5c0-3.312-2.688-6-6-6v3zM60 48.5c1.656 0 3 1.344 3 3v3h3v-3c0-3.312-2.688-6-6-6v3zM52.5 45.5c1.656 0 3 1.344 3 3v3h3v-3c0-3.312-2.688-6-6-6v3zM42 62V30.5c0-1.656 1.344-3 3-3s3 1.344 3 3v18a1.5 1.5 0 003 0v-18c0-3.312-2.688-6-6-6s-6 2.688-6 6V62a1.5 1.5 0 003 0z"></path>
                                    <path d="M35.721 71.268a602.14 602.14 0 00-2.504-8.959l-.377-1.293c-1.66-5.647-2.573-8.37-3.28-9.077C29.023 51.4 29.863 50 31.5 50c.705 0 1.439.55 2.127 1.582.277.415.519.87.721 1.324.12.27.197.471.229.568l.081.197 4.5 9 2.684-1.342-4.455-8.91a11.476 11.476 0 00-1.264-2.501C34.936 48.138 33.42 47 31.5 47c-4.057 0-6.702 4.401-4.07 7.05-.072-.071-.072-.07-.058-.042.057.112.131.277.217.49.18.44.4 1.053.658 1.82a160.874 160.874 0 011.714 5.544 527.473 527.473 0 012.864 10.19l.226.836a1.5 1.5 0 00.249.512L42 85v4h3v-4.5a1.5 1.5 0 00-.3-.9l-8.827-11.769-.152-.563zM41.149 38.637a9 9 0 117.708-.003l1.286 2.71A11.997 11.997 0 0057 30.5c0-6.627-5.373-12-12-12-6.628 0-12 5.373-12 12a12 12 0 006.863 10.847l1.286-2.71z"></path>
                                    <path d="M32.424 38.681A14.929 14.929 0 0130 30.5c0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15 0 2.948-.85 5.765-2.425 8.18l2.513 1.64A17.922 17.922 0 0063 30.5c0-9.94-8.06-18-18-18-9.941 0-18 8.06-18 18 0 3.534 1.02 6.919 2.91 9.819l2.514-1.638z"></path>
                                    <path d="M24 30.5c0-11.598 9.402-21 21-21s21 9.402 21 21h3c0-13.254-10.746-24-24-24s-24 10.746-24 24h3z"></path>
                                    <path d="M22.5 57.5H3v-54h84v54H76.5v3H87a3 3 0 003-3v-54a3 3 0 00-3-3H3a3 3 0 00-3 3v54a3 3 0 003 3h19.5v-3z"></path>
                                    <path d="M9 59V6.5H6V59zM84 54.5V2h-3v52.5z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="services-content">
                        <a href=""><h3 class="title"> Applicazioni </h3></a>
                        <a href="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                numquam
                            </p>
                        </a>
                    </div>
                </div>
                <div class="services-box fade-in" data-aos-delay="0.2s">
                    <div class="services-image security">
                        <a href="" class="blob-image">
                            <svg width="210px" height="196px" viewBox="0 0 210 196" version="1.1">
                                <defs>
                                    <linearGradient x1="102.372411%" y1="50%" x2="-2.22044605e-14%" y2="50%" id="linearGradient-2">
                                        <stop stop-color="#FF0099" offset="0%"></stop>
                                        <stop stop-color="#F27121" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Home---video-blob" transform="translate(-335.000000, -2721.000000)" fill="url(#linearGradient-2)" fill-rule="nonzero">
                                        <g id="Services" transform="translate(-609.000000, 1965.000000)">
                                            <g id="Support" transform="translate(861.500000, 756.000000)">
                                                <g id="Hosting-blob" transform="translate(82.000000, 0.000000)">
                                                    <path d="M154.640243,1.40550769 C176.130897,6.20632395 194.959421,24.1972617 204.10747,46.0676469 C213.255519,67.9865252 212.771495,93.784851 198.589599,109.933051 C184.407703,126.129744 156.527935,132.724805 140.11953,146.205885 C123.759527,159.638472 118.774083,179.957078 106.818696,189.461725 C94.8633093,198.917878 75.9379806,197.511578 61.7560847,189.122273 C47.5741888,180.684475 38.2325304,165.215178 30.2945409,151.200674 C22.4049538,137.18617 16.0158403,124.626458 9.77193387,109.399627 C3.52802749,94.1727957 -2.5222694,76.3273373 2.80199186,63.234202 C8.07785074,50.1410667 24.7282678,41.8002546 40.2654302,34.3323182 C55.850995,26.8158887 70.3233051,20.1238418 89.6358528,12.5589192 C108.9484,5.0424897 133.101186,-3.39530858 154.640243,1.40550769 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a href="" class="service-logo">
                            <svg width="96" height="97">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <path d="M54 6.5c0 3.312-2.688 6-6 6s-6-2.688-6-6 2.688-6 6-6 6 2.688 6 6zm-3 0c0-1.656-1.344-3-3-3s-3 1.344-3 3 1.344 3 3 3 3-1.344 3-3zM54 90.5c0 3.312-2.688 6-6 6s-6-2.688-6-6 2.688-6 6-6 6 2.688 6 6zm-3 0c0-1.656-1.344-3-3-3s-3 1.344-3 3 1.344 3 3 3 3-1.344 3-3z"></path>
                                    <path d="M49.5 24.5V11h-3v13.5zM46.5 72.5V86h3V72.5zM90 54.5c-3.312 0-6-2.688-6-6s2.688-6 6-6 6 2.688 6 6-2.688 6-6 6zm0-3c1.656 0 3-1.344 3-3s-1.344-3-3-3-3 1.344-3 3 1.344 3 3 3zM6 54.5c-3.312 0-6-2.688-6-6s2.688-6 6-6 6 2.688 6 6-2.688 6-6 6zm0-3c1.656 0 3-1.344 3-3s-1.344-3-3-3-3 1.344-3 3 1.344 3 3 3z"></path>
                                    <path d="M72 50h13.5v-3H72zM24 47H10.5v3H24z"></path>
                                    <path d="M81 48.5c0 18.225-14.775 33-33 33s-33-14.775-33-33 14.775-33 33-33 33 14.775 33 33zm-3 0c0-16.569-13.431-30-30-30-16.569 0-30 13.431-30 30 0 16.569 13.431 30 30 30 16.569 0 30-13.431 30-30z"></path>
                                    <path d="M87.225 58.626c-3.662 14.23-14.87 25.437-29.099 29.098l.748 2.906c15.288-3.935 27.322-15.968 31.256-31.256l-2.905-.748zM58.127 9.276c14.23 3.663 25.435 14.87 29.097 29.098l2.905-.747C86.195 22.339 74.163 10.307 58.875 6.37l-.748 2.905zM8.777 38.374c3.53-13.72 14.086-24.66 27.65-28.696l-.855-2.876C20.999 11.14 9.665 22.886 5.872 37.626l2.905.748zM37.872 87.725C23.644 84.06 12.44 72.855 8.776 58.626l-2.905.748c3.936 15.288 15.967 27.32 31.253 31.256l.748-2.905zM69 48.5c0 11.598-9.402 21-21 21s-21-9.402-21-21 9.402-21 21-21 21 9.402 21 21zm-3 0c0-9.942-8.058-18-18-18s-18 8.058-18 18 8.058 18 18 18 18-8.058 18-18z"></path>
                                    <path d="M64.94 67.56l16.5 16.5 2.12-2.12-16.5-16.5zM12.44 15.06l16.498 16.5 2.121-2.122-16.498-16.499zM67.06 31.56l16.5-16.5-2.121-2.12-16.5 16.5zM14.56 84.06l16.5-16.5-2.12-2.12-16.5 16.5zM57 48.5c0 11.54-3.638 21-9 21s-9-9.46-9-21 3.638-21 9-21 9 9.46 9 21zm-3 0c0-9.998-3.078-18-6-18s-6 8.002-6 18 3.078 18 6 18 6-8.002 6-18z"></path>
                                    <path d="M69 48.5c0 5.362-9.46 9-21 9s-21-3.638-21-9 9.46-9 21-9 21 3.638 21 9zm-3 0c0-2.922-8.002-6-18-6s-18 3.078-18 6 8.002 6 18 6 18-3.078 18-6z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="services-content">
                        <a href=""><h3 class="title"> Sicurezza </h3></a>
                        <a href="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                numquam
                            </p>
                        </a>
                    </div>
                </div>
                <div class="services-box fade-in" data-aos-delay="0.2s">
                    <div class="services-image assistance">
                        <a href="" class="blob-image">
                            <svg width="206px" height="183px" viewBox="0 0 206 183" version="1.1">
                                <defs>
                                    <linearGradient x1="103.885347%" y1="68.4290175%" x2="-2.08194783%" y2="50%" id="linearGradient-3">
                                        <stop stop-color="#5D26C1" offset="0%"></stop>
                                        <stop stop-color="#4BE1FF" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Home---video-blob" transform="translate(-861.000000, -2723.000000)" fill="url(#linearGradient-3)" fill-rule="nonzero">
                                        <g id="Services" transform="translate(-609.000000, 1965.000000)">
                                            <g id="Hosting" transform="translate(1352.500000, 758.000000)">
                                                <g id="blob-shape-(2)" transform="translate(118.000000, 0.000000)">
                                                    <path d="M161.245049,10.5979982 C177.760623,18.5974871 189.015003,37.3848581 196.106178,56.8578996 C203.197352,76.3766525 206.079571,96.5810758 204.569838,117.105479 C203.014354,137.58417 197.066917,158.382841 180.963089,162.176885 C164.90501,165.925217 138.644789,152.714632 118.972498,155.731582 C99.3002077,158.794244 86.1243479,178.08444 72.2164959,182.152751 C58.3086439,186.221063 43.6230501,175.06749 35.3423882,160.896966 C27.0617263,146.772155 25.1859963,129.630393 18.1863208,110.523042 C11.1408958,91.3699802 -1.02847476,70.2513296 0.0695135581,49.9097721 C1.16750187,29.613926 15.5785985,10.0951732 34.6561455,3.2384684 C53.7336925,-3.57252499 77.4776899,2.23281837 100.215198,3.78700478 C122.998456,5.34119119 144.775224,2.55279792 161.245049,10.5979982 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>                            
                        </a>
                        <a href="" class="service-logo">
                            <svg width="96" height="93">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <path d="M57 51.5V68a4.5 4.5 0 01-4.5 4.5H24v12.879L11.121 72.5H7.5A4.5 4.5 0 013 68V20a4.5 4.5 0 014.5-4.5H33v-3H7.5A7.5 7.5 0 000 20v48a7.5 7.5 0 007.5 7.5h2.379L27 92.621V75.5h25.5A7.5 7.5 0 0060 68V54.5h9v-3.308l-9-21V20a7.5 7.5 0 00-7.5-7.5H42v3h10.5A4.5 4.5 0 0157 20v10.808L65.868 51.5H57z"></path>
                                    <path d="M69 63.5v17.121L86.121 63.5H88.5A7.5 7.5 0 0096 56V8A7.5 7.5 0 0088.5.5h-45A7.5 7.5 0 0036 8v13.192l-9 21V45.5h9V56a7.5 7.5 0 007.5 7.5H54v-3H43.5A4.5 4.5 0 0139 56V42.5h-8.868L39 21.808V8a4.5 4.5 0 014.5-4.5h45A4.5 4.5 0 0193 8v48a4.5 4.5 0 01-4.5 4.5h-3.621L72 73.379V60.5h-9v3h6z"></path>
                                    <path d="M66 15.5h21v-3H66zM66 21.5h21v-3H66zM66 27.5h15v-3H66zM9 24.5h18v-3H9zM9 30.5h18v-3H9zM9 36.5h12v-3H9z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="services-content">
                        <a href=""><h3 class="title"> Assistenza </h3></a>
                        <a href="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                numquam
                            </p>
                        </a>
                    </div>
                </div>
                <div class="services-box fade-in" data-aos-delay="0.2s">
                    <div class="services-image partnership">
                        <a href="" class="blob-image">
                            <svg width="208px" height="190px" viewBox="0 0 208 190" version="1.1">
                                <title>Path</title>
                                <desc>Created with Sketch.</desc>
                                <defs>
                                    <linearGradient x1="100%" y1="50%" x2="-2.22044605e-14%" y2="50%" id="linearGradient-4">
                                        <stop stop-color="#E100FF" offset="0%"></stop>
                                        <stop stop-color="#7F00FF" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="websites-blob" fill="url(#linearGradient-4)" fill-rule="nonzero">
                                        <path d="M151.160297,31.3400511 C172.447784,46.9168344 196.518624,61.4175899 204.507875,82.3232727 C212.497125,103.228956 204.404787,130.488326 187.137697,145.398997 C169.92215,160.309668 143.583394,162.76916 119.564099,171.274904 C95.596346,179.729408 73.948054,194.178924 59.773577,188.850024 C45.547556,183.469885 38.79535,158.36257 27.146507,136.739535 C15.497664,115.16774 -0.9447294,97.0802253 0.6015772,81.1447661 C2.1478838,65.2093069 21.734434,51.3746638 40.135483,35.2854863 C58.484988,19.1963089 75.597447,0.9038364 93.431517,0.0327662825 C111.265586,-0.838303835 129.821266,15.8145072 151.160297,31.3400511 Z" id="Path"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a href="" class="service-logo">
                            <svg width="96" height="91">
                                <g fill="#FFF" fill-rule="nonzero">
                                    <path d="M51 81.5v-72c0-4.971-4.029-9-9-9H9c-4.971 0-9 4.029-9 9v72c0 4.971 4.029 9 9 9h33c4.971 0 9-4.029 9-9zm-3 0c0 3.315-2.685 6-6 6H9c-3.315 0-6-2.685-6-6v-72c0-3.315 2.685-6 6-6h33c3.315 0 6 2.685 6 6v72z"></path>
                                    <path d="M49.5 75.5h-48v3h48zM1.5 21.5h48v-3h-48zM22.5 84.5h6v-3h-6zM18 9.5h-3v3h3zM21 12.5h15v-3H21zM24 63.5h3v-3h-3zM18 63.5h3v-3h-3zM30 63.5h3v-3h-3zM15 69.5h21v-3H15zM40.5 42.5c0 8.285-6.715 15-15 15s-15-6.715-15-15 6.715-15 15-15 15 6.715 15 15zm-3 0c0-6.628-5.372-12-12-12s-12 5.372-12 12 5.372 12 12 12 12-5.372 12-12z"></path>
                                    <path d="M31.5 39.5a6 6 0 11-12.001-.001A6 6 0 0131.5 39.5zm-3 0a3 3 0 10-6.001.001A3 3 0 0028.5 39.5z"></path>
                                    <path d="M33 54.5V50a7.5 7.5 0 00-15 0v4.5h3V50a4.5 4.5 0 019 0v4.5h3zM93 3.5v84H54v3h42V.5H54v3z"></path>
                                    <path d="M54 15.5h40.5v-3H54zM54 9.5h36v-3H54zM87 21.5v60H54v3h36v-66H54v3z"></path>
                                    <path d="M78 42.5H54v3h27v-12H54v3h24zM81 27.5H69v3h12zM81 56a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0zm-3 0a4.5 4.5 0 10-9 0 4.5 4.5 0 009 0zM54 51.5a4.5 4.5 0 010 9v3a7.5 7.5 0 000-15v3zM54 69.5h7.5v-3H54zM66 69.5h15v-3H66zM54 75.5h7.5v-3H54zM66 75.5h15v-3H66z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="services-content">
                        <a href=""><h3 class="title"> Lavora con noi </h3></a>
                        <a href="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                numquam
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="about-wrapper">
                <div class="about-image fade-in" data-aos-delay="0.2s">
                    <img src=<%= require("./assets/img/d.png") %> />
                </div>
                <div class="about-content">
                    <h3 class="year gradient-stroke fade-up"> 2022 </h3>
                    <h4 class="title fade-in"> Problem solvers <br> at our core </h4>
                    <p class="fade-in">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                    <a href="" class="button filled fade-up">Discover More</a>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="products-top fade-up">
                <h2 class="products-title">
                    I nostri
                    <span class="gradient-stroke" style="letter-spacing: 2px"> Prodotti </span>
                </h2>
            </div>
            <div class="products-slider">
                <div class="slider-track">

                    <div class="slider-container cloned">
                        <div class="post" style="background-color: green;"></div>
                    </div>
                    <div class="slider-container cloned">
                        <div class="post" style="background-color: purple;"></div>
                    </div>
                    <div class="slider-container cloned">
                        <div class="post" style="background-color: black;"></div>
                    </div>


                   <div class="slider-container">
                        <div class="post" style="background-color: red;"></div>
                   </div>
                    <div class="slider-container">
                        <div class="post" style="background-color: white;"></div>
                    </div>
                    <div class="slider-container">
                        <div class="post" style="background-color: green;"></div>
                    </div>
                    <div class="slider-container">
                        <div class="post" style="background-color: purple;"></div>
                    </div>
                    <div class="slider-container">
                        <div class="post" style="background-color: black;"></div>
                    </div>                    

                    
                    <div class="slider-container cloned">
                        <div class="post" style="background-color: red;"></div>
                    </div>
                    <div class="slider-container cloned">
                        <div class="post" style="background-color: white;"></div>
                    </div>
                    <div class="slider-container cloned">
                        <div class="post" style="background-color: green;"></div>
                    </div>
                    

                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-top">
                <div class="footer-brand">
                    <div> Cyberwall </div>
                    <div class="theme-toggle">  </div>
                </div>
                <div class="footer-nav"> 
                    <h3 class="footer-nav-title"> Contatti </h3>
                    <div class="footer-nav-content" style="line-height: 20px;">
                        Primo contatto <br>
                        Secondo contatto <br>
                        Terzo contatto <br>
                        Quarto contatto <br>
                        Quinto contatto
                    </div>
                </div>
                <div class="footer-nav">
                    <h3 class="footer-nav-title"> Connect </h3>
                    <div class="footer-nav-content">
                        <a href="mailto:cyberwall@gmail.com"> cyberwall@gmail.com </a>
                        <a href="tel:085 9461543"> +39 085 9461543 </a>
                    </div>
                </div>
                <div class="footer-nav"> 
                    <h3 class="footer-nav-title"> Small print </h3>
                    <div class="footer-nav-content">
                        <a href=""> Privacy policy </a>
                        <a href=""> Termini & Condizioni </a>
                        <a href=""> Altro & Altro </a>
                        <a href=""> Altro & Altro </a>
                        <a href=""> Altro & Altro </a>
                        <a href=""> Gestione cookies </a>
                    </div>
                </div>
                <div class="footer-newsletter"> 
                    <h3 class="footer-nav-title"> Iscriviti per le newsletter </h3>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>

</body>
</html>
